body {
	background-color: #bfbfbf;
}

#play_text {
	font-family: Brush Script MT,cursive;
	font-weight: bold;
	width:250px;
	border: 1px solid red;
	margin-left: auto;
	margin-right: auto;
	padding: 5px;
}

#content {
	width: 1024px;
	height: 100vh;
	border: 1px solid gray;
	background-color:white;
	margin-left: auto;
	margin-right: auto;
}

#stage-canvas {
	border: 1px solid gray;
	width: 500px;
	height: 400px;
	margin-left: auto;
	margin-right: auto;
	display:block;
}